// only for this component
$paddingBtn: 12px 30px 12px 12px;

// component
.social-media {
  position: fixed;
  right: 0;
  bottom: 0;
  @include flexEnd();
  @include reset();

  li {
    list-style-type: none;
    @include reset();
  }

  a {
    display: inline-block;
  }

  .blog {
    background-color: #e17b77;
  }

  .facebook {
    background-color: #3b5998;
  }

  .twitter {
    background-color: #00aced;
  }

  .github {
    background-color: #333;
  }

  .linkedin {
    background-color: #007bb6;
  }

  .button {
    position: relative;
    max-width: 38px;
    transition: max-width 0.5s;

    &:hover {
      max-width: 500px;
    }
  }

  .text {
    display: inline-block;
    padding-right: $padding;
    color: $color;
    text-decoration: underline;
    white-space: nowrap;

    &::before {
      font-family: fontAwesome;
      display: inline-block;
      padding: $paddingBtn;
    }
  }

  .fa-laptop-code::before {
    content: "\f5fc";
  }
  .fa-twitter::before {
    content: "\f099";
  }
  .fa-linkedin::before {
    content: "\f0e1";
  }
  .fa-facebook::before {
    content: "\f39e";
  }
  .fa-github::before {
    content: "\f09b";
  }
}
